@charset "UTF-8";

.linkBlock{
  padding-left: 30px;
  padding-top: 10px;
  height: 35px;
  border-bottom: none;
  background-color: #696969;

}

.linkBlock-item{
  
  color: #f5f5f5;
  text-decoration: none;

}

table{
  width: 320px;
  height: 460px;
  margin-left: 30px;
  border: 1px Solid #CCC;
  border-radius: 5px;
 

}

.operator0{
  width: 150px;
  background-color: #dcdcdc;
}

button{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  font-size: x-large;
  border-radius: 10px;

}

.disply{
  width: 300px;
  height: 40px;
  background-color: #dcdcdc;
  font: #000000;
  text-align: right;
  font-size: x-large;

}

.operator{
  background-color: #dcdcdc;
}

.result{
  background-color: #b0c4de;

}

